@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/constColor.scss";

.Button {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #6d6d6d;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 5px 20px;
    border-radius: 5px;
    height: 30px;
}

.Button:first-of-type {
    /*
    margin-left: 0;
    padding-left: 0;
    */
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: $white;
    background-color: #521dff;
}

.Danger {
    color: #944317;
}